services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    volumes:
      - ./app:/app
    command: yarn dev
    ports:
      - "3000:3000"
    user: 
      1000:1000
    environment:
      TZ: "Asia/Tokyo"
    depends_on:
      - mysql
  mysql:
    image: mysql:8.0
    environment:
      TZ: "UTC"
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password # MySQL8.0ではデフォルトが"caching_sha2_password"で、ドライバが非対応のため変更
    ports:
      - 127.0.0.1:33306:3306

volumes:
  mysql_data:
